# DSMarket

In [1]:
# Instalamos gdown para obtener los archivos origenes de google drive y pyarrow para guardar archivos parquet.
!pip install gdown
!pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gdown in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from gdown) (4.13.4)
Requirement already satisfied: filelock in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from gdown) (3.19.1)
Requirement already satisfied: requests[socks] in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from gdown) (2.32.4)
Requirement already satisfied: tqdm in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from beautifulsoup4->gdown) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from beautifulsoup4->gdown) (4.14.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests[socks]->gdown) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests[socks]->gdown) (2025.8.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from tqdm->gdown) (0.4.6)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in c:\users\otalv\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (21.0.0)

## 1. Importamos librerias necesarias

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import gdown

## 2. Rutas y directorios de archivos

In [3]:
sales_data_path = "https://drive.google.com/uc?id=1sbXj2mTiaHJC_1hU_blmDiU4sxy53-kN"
sales_file = "item_sales.csv"
calendar_data_path = "https://drive.google.com/uc?id=1NIqmTAKSoN3mN5MUbs-K5WXv-10srHPR"
calendar_file = "daily_calendar_with_events.csv"
prices_data_path = "https://drive.google.com/uc?id=1JHVZJ9eeqtGxPWs3vF3beEnuGVY2o8Ed"
prices_file = "item_prices.csv"
events_data_path = "https://drive.google.com/uc?id=1Mxazi67FtJcnjc0LUT8G2Ll5fu8mnLwk"
events_file = "calendar_events.csv"

## 3. Funciones globales

In [4]:
def contar_nulos(*dataframes):
    """
    Cuenta los valores nulos, la cantidad de registros por columna y el porcentaje
    de nulos para cada DataFrame proporcionado.
    """
    for i, df in enumerate(dataframes):
        print(f"\nAnálisis del DataFrame {i+1}:")
        null_counts = df.isnull().sum()
        total_counts = df.shape[0]
        null_percentage = (null_counts / total_counts) * 100

        null_info_df = pd.DataFrame({
            'Cantidad Registros': total_counts,
            'Cantidad Nulos': null_counts,
            '% Nulos': null_percentage
        })

        # Mostrar la información para cada columna
        print(null_info_df[null_info_df['Cantidad Nulos'] > 0])

In [5]:
# Funcion para asignar semana por año, primer dia de semana lunes
def weekyearnum(dt):
    return dt.strftime("%Y%W")

# Funcion para asignar fecha de semana adicionando 3 dias, primer dia miercoles
def myweekyearnum(dt):
    offsetdt = dt + timedelta(days=+2);  # you add 3 days to Mon to get to Thu
    return weekyearnum(offsetdt)

# Funcion para asignar semana por año ISO 8601, La semana empieza en lunes. La semana 1 del año es la que contiene el primer jueves del año
def weeknum(dt):
    iso = dt.isocalendar()
    return f"{iso[0]}{str(iso[1]).zfill(2)}"


## 4. Limpieza de datasets

### 4.1. Data de ventas

In [6]:
gdown.download(sales_data_path, sales_file, quiet=False)
pd_sales = pd.read_csv(sales_file)

Downloading...
From (original): https://drive.google.com/uc?id=1sbXj2mTiaHJC_1hU_blmDiU4sxy53-kN
From (redirected): https://drive.google.com/uc?id=1sbXj2mTiaHJC_1hU_blmDiU4sxy53-kN&confirm=t&uuid=1ebd51f2-d6ac-4e2e-90b0-84ad47e9d519
To: C:\Users\otalv\Documents\capstone-project-0325bcn-grupo3\02_notebooks\item_sales.csv
100%|███████████████████████████████████████████████████████████████████████████████| 121M/121M [00:12<00:00, 9.38MB/s]

In [7]:
print("Dimensiones del dataframe:", pd_sales.shape)

Dimensiones del dataframe: (30490, 1920)

In [8]:
pd_sales.head(3)

,id,item,category,department,store,store_code,region,d_1,d_2,d_3,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,...,2,1,2,1,1,1,0,1,1,1

In [9]:
pd_sales['store_code'].unique()

array(['NYC_1', 'NYC_2', 'NYC_3', 'NYC_4', 'BOS_1', 'BOS_2', 'BOS_3',
       'PHI_1', 'PHI_2', 'PHI_3'], dtype=object)

In [10]:
pd_sales.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Data columns (total 1920 columns):
 #     Column      Dtype
---    ------      -----
 0     id          object
 1     item        object
 2     category    object
 3     department  object
 4     store       object
 5     store_code  object
 6     region      object
 7     d_1         int64
 8     d_2         int64
 9     d_3         int64
 10    d_4         int64
 11    d_5         int64
 12    d_6         int64
 13    d_7         int64
 14    d_8         int64
 15    d_9         int64
 16    d_10        int64
 17    d_11        int64
 18    d_12        int64
 19    d_13        int64
 20    d_14        int64
 21    d_15        int64
 22    d_16        int64
 23    d_17        int64
 24    d_18        int64
 25    d_19        int64
 26    d_20        int64
 27    d_21        int64
 28    d_22        int64
 29    d_23        int64
 30    d_24        int64
 31    d_25        int64
 32    d_26        int64
 33    d_27        int64
 34    d_28        int64
 35    d_29        int64
 36    d_30        int64
 37    d_31        int64
 38    d_32        int64
 39    d_33        int64
 40    d_34        int64
 41    d_35        int64
 42    d_36        int64
 43    d_37        int64
 44    d_38        int64
 45    d_39        int64
 46    d_40        int64
 47    d_41        int64
 48    d_42        int64
 49    d_43        int64
 50    d_44        int64
 51    d_45        int64
 52    d_46        int64
 53    d_47        int64
 54    d_48        int64
 55    d_49        int64
 56    d_50        int64
 57    d_51        int64
 58    d_52        int64
 59    d_53        int64
 60    d_54        int64
 61    d_55        int64
 62    d_56        int64
 63    d_57        int64
 64    d_58        int64
 65    d_59        int64
 66    d_60        int64
 67    d_61        int64
 68    d_62        int64
 69    d_63        int64
 70    d_64        int64
 71    d_65        int64
 72    d_66        int64
 73    d_67        int64
 74    d_68        int64
 75    d_69        int64
 76    d_70        int64
 77    d_71        int64
 78    d_72        int64
 79    d_73        int64
 80    d_74        int64
 81    d_75        int64
 82    d_76        int64
 83    d_77        int64
 84    d_78        int64
 85    d_79        int64
 86    d_80        int64
 87    d_81        int64
 88    d_82        int64
 89    d_83        int64
 90    d_84        int64
 91    d_85        int64
 92    d_86        int64
 93    d_87        int64
 94    d_88        int64
 95    d_89        int64
 96    d_90        int64
 97    d_91        int64
 98    d_92        int64
 99    d_93        int64
 100   d_94        int64
 101   d_95        int64
 102   d_96        int64
 103   d_97        int64
 104   d_98        int64
 105   d_99        int64
 106   d_100       int64
 107   d_101       int64
 108   d_102       int64
 109   d_103       int64
 110   d_104       int64
 111   d_105       int64
 112   d_106       int64
 113   d_107       int64
 114   d_108       int64
 115   d_109       int64
 116   d_110       int64
 117   d_111       int64
 118   d_112       int64
 119   d_113       int64
 120   d_114       int64
 121   d_115       int64
 122   d_116       int64
 123   d_117       int64
 124   d_118       int64
 125   d_119       int64
 126   d_120       int64
 127   d_121       int64
 128   d_122       int64
 129   d_123       int64
 130   d_124       int64
 131   d_125       int64
 132   d_126       int64
 133   d_127       int64
 134   d_128       int64
 135   d_129       int64
 136   d_130       int64
 137   d_131       int64
 138   d_132       int64
 139   d_133       int64
 140   d_134       int64
 141   d_135       int64
 142   d_136       int64
 143   d_137       int64
 144   d_138       int64
 145   d_139       int64
 146   d_140       int64
 147   d_141       int64
 148   d_142       int64
 149   d_143       int64
 150   d_144       int64
 151   d_145       int64
 152   d_146       int64
 153   d_147       int64
 154   d_148       int64
 155   d_149       int64
 156   d_150       int64
 157   d_151       int64
 158   d_152       int64
 159   d_153       int64
 160   d_154       int64
 161   d_155       int64
 162   d_156       int64
 163   d_157       int64
 164   d_158       int64
 165   d_159       int64
 166   d_160       int64
 167   d_161       int64
 168   d_162       int64
 169   d_163       int64
 170   d_164       int64
 171   d_165       int64
 172   d_166       int64
 173   d_167       int64
 174   d_168       int64
 175   d_169       int64
 176   d_170       int64
 177   d_171       int64
 178   d_172       int64
 179   d_173       int64
 180   d_174       int64
 181   d_175       int64
 182   d_176       int64
 183   d_177       int64
 184   d_178       int64
 185   d_179       int64
 186   d_180       int64
 187   d_181       int64
 188   d_182       int64
 189   d_183       int64
 190   d_184       int64
 191   d_185       int64
 192   d_186       int64
 193   d_187       int64
 194   d_188       int64
 195   d_189       int64
 196   d_190       int64
 197   d_191       int64
 198   d_192       int64
 199   d_193       int64
 200   d_194       int64
 201   d_195       int64
 202   d_196       int64
 203   d_197       int64
 204   d_198       int64
 205   d_199       int64
 206   d_200       int64
 207   d_201       int64
 208   d_202       int64
 209   d_203       int64
 210   d_204       int64
 211   d_205       int64
 212   d_206       int64
 213   d_207       int64
 214   d_208       int64
 215   d_209       int64
 216   d_210       int64
 217   d_211       int64
 218   d_212       int64
 219   d_213       int64
 220   d_214       int64
 221   d_215       int64
 222   d_216       int64
 223   d_217       int64
 224   d_218       int64
 225   d_219       int64
 226   d_220       int64
 227   d_221       int64
 228   d_222       int64
 229   d_223       int64
 230   d_224       int64
 231   d_225       int64
 232   d_226       int64
 233   d_227       int64
 234   d_228       int64
 235   d_229       int64
 236   d_230       int64
 237   d_231       int64
 238   d_232       int64
 239   d_233       int64
 240   d_234       int64
 241   d_235       int64
 242   d_236       int64
 243   d_237       int64
 244   d_238       int64
 245   d_239       int64
 246   d_240       int64
 247   d_241       int64
 248   d_242       int64
 249   d_243       int64
 250   d_244       int64
 251   d_245       int64
 252   d_246       int64
 253   d_247       int64
 254   d_248       int64
 255   d_249       int64
 256   d_250       int64
 257   d_251       int64
 258   d_252       int64
 259   d_253       int64
 260   d_254       int64
 261   d_255       int64
 262   d_256       int64
 263   d_257       int64
 264   d_258       int64
 265   d_259       int64
 266   d_260       int64
 267   d_261       int64
 268   d_262       int64
 269   d_263       int64
 270   d_264       int64
 271   d_265       int64
 272   d_266       int64
 273   d_267       int64
 274   d_268       int64
 275   d_269       int64
 276   d_270       int64
 277   d_271       int64
 278   d_272       int64
 279   d_273       int64
 280   d_274       int64
 281   d_275       int64
 282   d_276       int64
 283   d_277       int64
 284   d_278       int64
 285   d_279       int64
 286   d_280       int64
 287   d_281       int64
 288   d_282       int64
 289   d_283       int64
 290   d_284       int64
 291   d_285       int64
 292   d_286       int64
 293   d_287       int64
 294   d_288       int64
 295   d_289       int64
 296   d_290       int64
 297   d_291       int64
 298   d_292       int64
 299   d_293       int64
 300   d_294       int64
 301   d_295       int64
 302   d_296       int64
 303   d_297       int64
 304   d_298       int64
 305   d_299       int64
 306   d_300       int64
 307   d_301       int64
 308   d_302       int64
 309   d_303       int64
 310   d_304       int64
 311   d_305       int64
 312   d_306       int64
 313   d_307       int64
 314   d_308       int64
 315   d_309       int64
 316   d_310       int64
 317   d_311       int64
 318   d_312       int64
 319   d_313       int64
 320   d_314       int64
 321   d_315       int64
 322   d_316       int64
 323   d_317       int64
 324   d_318       int64
 325   d_319       int64
 326   d_320       int64
 327   d_321       int64
 328   d_322       int64
 329   d_323       int64
 330   d_324       int64
 331   d_325       int64
 332   d_326       int64
 333   d_327       int64
 334   d_328       int64
 335   d_329       int64
 336   d_330       int64
 337   d_331       int64
 338   d_332       int64
 339   d_333       int64
 340   d_334       int64
 341   d_335       int64
 342   d_336       int64
 343   d_337       int64
 344   d_338       int64
 345   d_339       int64
 346   d_340       int64
 347   d_341       int64
 348   d_342       int64
 349   d_343       int64
 350   d_344       int64
 351   d_345       int64
 352   d_346       int64
 353   d_347       int64
 354   d_348       int64
 355   d_349       int64
 356   d_350       int64
 357   d_351       int64
 358   d_352       int64
 359   d_353       int64
 360   d_354       int64
 361   d_355       int64
 362   d_356       int64
 363   d_357       int64
 364   d_358       int64
 365   d_359       int64
 366   d_360       int64
 367   d_361       int64
 368   d_362       int64
 369   d_363       int64
 370   d_364       int64
 371   d_365       int64
 372   d_366       int64
 373   d_367       int64
 374   d_368       int64
 375   d_369       int64
 376   d_370       int64
 377   d_371       int64
 378   d_372       int64
 379   d_373       int64
 380   d_374       int64
 381   d_375       int64
 382   d_376       int64
 383   d_377       int64
 384   d_378       int64
 385   d_379       int64
 386   d_380       int64
 387   d_381       int64
 388   d_382       int64
 389   d_383       int64
 390   d_384       int64
 391   d_385       int64
 392   d_386       int64
 393   d_387       int64
 394   d_388       int64
 395   d_389       int64
 396   d_390       int64
 397   d_391       int64
 398   d_392       int64
 399   d_393       int64
 400   d_394       int64
 401   d_395       int64
 402   d_396       int64
 403   d_397       int64
 404   d_398       int64
 405   d_399       int64
 406   d_400       int64
 407   d_401       int64
 408   d_402       int64
 409   d_403       int64
 410   d_404       int64
 411   d_405       int64
 412   d_406       int64
 413   d_407       int64
 414   d_408       int64
 415   d_409       int64
 416   d_410       int64
 417   d_411       int64
 418   d_412       int64
 419   d_413       int64
 420   d_414       int64
 421   d_415       int64
 422   d_416       int64
 423   d_417       int64
 424   d_418       int64
 425   d_419       int64
 426   d_420       int64
 427   d_421       int64
 428   d_422       int64
 429   d_423       int64
 430   d_424       int64
 431   d_425       int64
 432   d_426       int64
 433   d_427       int64
 434   d_428       int64
 435   d_429       int64
 436   d_430       int64
 437   d_431       int64
 438   d_432       int64
 439   d_433       int64
 440   d_434       int64
 441   d_435       int64
 442   d_436       int64
 443   d_437       int64
 444   d_438       int64
 445   d_439       int64
 446   d_440       int64
 447   d_441       int64
 448   d_442       int64
 449   d_443       int64
 450   d_444       int64
 451   d_445       int64
 452   d_446       int64
 453   d_447       int64
 454   d_448       int64
 455   d_449       int64
 456   d_450       int64
 457   d_451       int64
 458   d_452       int64
 459   d_453       int64
 460   d_454       int64
 461   d_455       int64
 462   d_456       int64
 463   d_457       int64
 464   d_458       int64
 465   d_459       int64
 466   d_460       int64
 467   d_461       int64
 468   d_462       int64
 469   d_463       int64
 470   d_464       int64
 471   d_465       int64
 472   d_466       int64
 473   d_467       int64
 474   d_468       int64
 475   d_469       int64
 476   d_470       int64
 477   d_471       int64
 478   d_472       int64
 479   d_473       int64
 480   d_474       int64
 481   d_475       int64
 482   d_476       int64
 483   d_477       int64
 484   d_478       int64
 485   d_479       int64
 486   d_480       int64
 487   d_481       int64
 488   d_482       int64
 489   d_483       int64
 490   d_484       int64
 491   d_485       int64
 492   d_486       int64
 493   d_487       int64
 494   d_488       int64
 495   d_489       int64
 496   d_490       int64
 497   d_491       int64
 498   d_492       int64
 499   d_493       int64
 500   d_494       int64
 501   d_495       int64
 502   d_496       int64
 503   d_497       int64
 504   d_498       int64
 505   d_499       int64
 506   d_500       int64
 507   d_501       int64
 508   d_502       int64
 509   d_503       int64
 510   d_504       int64
 511   d_505       int64
 512   d_506       int64
 513   d_507       int64
 514   d_508       int64
 515   d_509       int64
 516   d_510       int64
 517   d_511       int64
 518   d_512       int64
 519   d_513       int64
 520   d_514       int64
 521   d_515       int64
 522   d_516       int64
 523   d_517       int64
 524   d_518       int64
 525   d_519       int64
 526   d_520       int64
 527   d_521       int64
 528   d_522       int64
 529   d_523       int64
 530   d_524       int64
 531   d_525       int64
 532   d_526       int64
 533   d_527       int64
 534   d_528       int64
 535   d_529       int64
 536   d_530       int64
 537   d_531       int64
 538   d_532       int64
 539   d_533       int64
 540   d_534       int64
 541   d_535       int64
 542   d_536       int64
 543   d_537       int64
 544   d_538       int64
 545   d_539       int64
 546   d_540       int64
 547   d_541       int64
 548   d_542       int64
 549   d_543       int64
 550   d_544       int64
 551   d_545       int64
 552   d_546       int64
 553   d_547       int64
 554   d_548       int64
 555   d_549       int64
 556   d_550       int64
 557   d_551       int64
 558   d_552       int64
 559   d_553       int64
 560   d_554       int64
 561   d_555       int64
 562   d_556       int64
 563   d_557       int64
 564   d_558       int64
 565   d_559       int64
 566   d_560       int64
 567   d_561       int64
 568   d_562       int64
 569   d_563       int64
 570   d_564       int64
 571   d_565       int64
 572   d_566       int64
 573   d_567       int64
 574   d_568       int64
 575   d_569       int64
 576   d_570       int64
 577   d_571       int64
 578   d_572       int64
 579   d_573       int64
 580   d_574       int64
 581   d_575       int64
 582   d_576       int64
 583   d_577       int64
 584   d_578       int64
 585   d_579       int64
 586   d_580       int64
 587   d_581       int64
 588   d_582       int64
 589   d_583       int64
 590   d_584       int64
 591   d_585       int64
 592   d_586       int64
 593   d_587       int64
 594   d_588       int64
 595   d_589       int64
 596   d_590       int64
 597   d_591       int64
 598   d_592       int64
 599   d_593       int64
 600   d_594       int64
 601   d_595       int64
 602   d_596       int64
 603   d_597       int64
 604   d_598       int64
 605   d_599       int64
 606   d_600       int64
 607   d_601       int64
 608   d_602       int64
 609   d_603       int64
 610   d_604       int64
 611   d_605       int64
 612   d_606       int64
 613   d_607       int64
 614   d_608       int64
 615   d_609       int64
 616   d_610       int64
 617   d_611       int64
 618   d_612       int64
 619   d_613       int64
 620   d_614       int64
 621   d_615       int64
 622   d_616       int64
 623   d_617       int64
 624   d_618       int64
 625   d_619       int64
 626   d_620       int64
 627   d_621       int64
 628   d_622       int64
 629   d_623       int64
 630   d_624       int64
 631   d_625       int64
 632   d_626       int64
 633   d_627       int64
 634   d_628       int64
 635   d_629       int64
 636   d_630       int64
 637   d_631       int64
 638   d_632       int64
 639   d_633       int64
 640   d_634       int64
 641   d_635       int64
 642   d_636       int64
 643   d_637       int64
 644   d_638       int64
 645   d_639       int64
 646   d_640       int64
 647   d_641       int64
 648   d_642       int64
 649   d_643       int64
 650   d_644       int64
 651   d_645       int64
 652   d_646       int64
 653   d_647       int64
 654   d_648       int64
 655   d_649       int64
 656   d_650       int64
 657   d_651       int64
 658   d_652       int64
 659   d_653       int64
 660   d_654       int64
 661   d_655       int64
 662   d_656       int64
 663   d_657       int64
 664   d_658       int64
 665   d_659       int64
 666   d_660       int64
 667   d_661       int64
 668   d_662       int64
 669   d_663       int64
 670   d_664       int64
 671   d_665       int64
 672   d_666       int64
 673   d_667       int64
 674   d_668       int64
 675   d_669       int64
 676   d_670       int64
 677   d_671       int64
 678   d_672       int64
 679   d_673       int64
 680   d_674       int64
 681   d_675       int64
 682   d_676       int64
 683   d_677       int64
 684   d_678       int64
 685   d_679       int64
 686   d_680       int64
 687   d_681       int64
 688   d_682       int64
 689   d_683       int64
 690   d_684       int64
 691   d_685       int64
 692   d_686       int64
 693   d_687       int64
 694   d_688       int64
 695   d_689       int64
 696   d_690       int64
 697   d_691       int64
 698   d_692       int64
 699   d_693       int64
 700   d_694       int64
 701   d_695       int64
 702   d_696       int64
 703   d_697       int64
 704   d_698       int64
 705   d_699       int64
 706   d_700       int64
 707   d_701       int64
 708   d_702       int64
 709   d_703       int64
 710   d_704       int64
 711   d_705       int64
 712   d_706       int64
 713   d_707       int64
 714   d_708       int64
 715   d_709       int64
 716   d_710       int64
 717   d_711       int64
 718   d_712       int64
 719   d_713       int64
 720   d_714       int64
 721   d_715       int64
 722   d_716       int64
 723   d_717       int64
 724   d_718       int64
 725   d_719       int64
 726   d_720       int64
 727   d_721       int64
 728   d_722       int64
 729   d_723       int64
 730   d_724       int64
 731   d_725       int64
 732   d_726       int64
 733   d_727       int64
 734   d_728       int64
 735   d_729       int64
 736   d_730       int64
 737   d_731       int64
 738   d_732       int64
 739   d_733       int64
 740   d_734       int64
 741   d_735       int64
 742   d_736       int64
 743   d_737       int64
 744   d_738       int64
 745   d_739       int64
 746   d_740       int64
 747   d_741       int64
 748   d_742       int64
 749   d_743       int64
 750   d_744       int64
 751   d_745       int64
 752   d_746       int64
 753   d_747       int64
 754   d_748       int64
 755   d_749       int64
 756   d_750       int64
 757   d_751       int64
 758   d_752       int64
 759   d_753       int64
 760   d_754       int64
 761   d_755       int64
 762   d_756       int64
 763   d_757       int64
 764   d_758       int64
 765   d_759       int64
 766   d_760       int64
 767   d_761       int64
 768   d_762       int64
 769   d_763       int64
 770   d_764       int64
 771   d_765       int64
 772   d_766       int64
 773   d_767       int64
 774   d_768       int64
 775   d_769       int64
 776   d_770       int64
 777   d_771       int64
 778   d_772       int64
 779   d_773       int64
 780   d_774       int64
 781   d_775       int64
 782   d_776       int64
 783   d_777       int64
 784   d_778       int64
 785   d_779       int64
 786   d_780       int64
 787   d_781       int64
 788   d_782       int64
 789   d_783       int64
 790   d_784       int64
 791   d_785       int64
 792   d_786       int64

Cantidad de **tiendas** en la data

In [11]:
print("Hay {} tiendas en la data, y el numero de registros por tienda son: ".format(pd_sales.store.nunique()))
pd_sales.store.value_counts()

Hay 10 tiendas en la data, y el numero de registros por tienda son:

store
Greenwich_Village    3049
Harlem               3049
Tribeca              3049
Brooklyn             3049
South_End            3049
Roxbury              3049
Back_Bay             3049
Midtown_Village      3049
Yorktown             3049
Queen_Village        3049
Name: count, dtype: int64

Cantidad de **items**

In [12]:
print("Hay {} items en la data, y el numero de registros por items es: ".format(pd_sales.item.nunique()))
pd_sales.item.value_counts()

Hay 3049 items en la data, y el numero de registros por items es:

item
ACCESORIES_1_001     10
ACCESORIES_1_002     10
ACCESORIES_1_003     10
ACCESORIES_1_004     10
ACCESORIES_1_005     10
                     ..
SUPERMARKET_3_823    10
SUPERMARKET_3_824    10
SUPERMARKET_3_825    10
SUPERMARKET_3_826    10
SUPERMARKET_3_827    10
Name: count, Length: 3049, dtype: int64

Cantidad de **departamentos**

In [13]:
print("Hay {} departmentos en la data, y el numero de registros por departamento son: ".format(pd_sales.department.nunique()))
pd_sales.department.value_counts()

Hay 7 departmentos en la data, y el numero de registros por departamento son:

department
SUPERMARKET_3      8230
HOME_&_GARDEN_1    5320
HOME_&_GARDEN_2    5150
ACCESORIES_1       4160
SUPERMARKET_2      3980
SUPERMARKET_1      2160
ACCESORIES_2       1490
Name: count, dtype: int64

Validacion registros unicos por columna 'id'

In [14]:
pd_sales["id"].duplicated().any()

np.False_

In [15]:
pd_sales[pd_sales.id == 'ACCESORIES_1_002_NYC_1'].T

                                 1
id          ACCESORIES_1_002_NYC_1
item              ACCESORIES_1_002
category                ACCESORIES
department            ACCESORIES_1
store            Greenwich_Village
...                            ...
d_1909                           1
d_1910                           0
d_1911                           0
d_1912                           0
d_1913                           0

[1920 rows x 1 columns]

In [16]:
contar_nulos(pd_sales)

Análisis del DataFrame 1:
Empty DataFrame
Columns: [Cantidad Registros, Cantidad Nulos, % Nulos]
Index: []

In [17]:
pd_sales.set_index(['id','item','category','department','store','store_code','region']).head()

,,,,,,,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
id,item,category,department,store,store_code,region,,,,,,,,,,,,,,,,,,,,,
ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,0,0,0,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,0,0,0,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,0,0,0,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0,0,0,0,0,0,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

### 4.2. Data de calendario

In [18]:
gdown.download(calendar_data_path, calendar_file, quiet=False)
pd_calendar = pd.read_csv(calendar_file)

Downloading...
From: https://drive.google.com/uc?id=1NIqmTAKSoN3mN5MUbs-K5WXv-10srHPR
To: C:\Users\otalv\Documents\capstone-project-0325bcn-grupo3\02_notebooks\daily_calendar_with_events.csv
100%|██████████████████████████████████████████████████████████████████████████████| 54.9k/54.9k [00:00<00:00, 582kB/s]

In [19]:
print("Dimensiones del dataframe:", pd_calendar.shape)

Dimensiones del dataframe: (1913, 5)

In [20]:
pd_calendar.head()

         date    weekday  weekday_int    d event
0  2011-01-29   Saturday            1  d_1   NaN
1  2011-01-30     Sunday            2  d_2   NaN
2  2011-01-31     Monday            3  d_3   NaN
3  2011-02-01    Tuesday            4  d_4   NaN
4  2011-02-02  Wednesday            5  d_5   NaN

In [21]:
pd_calendar.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   object
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        26 non-null     object
dtypes: int64(1), object(4)
memory usage: 74.9+ KB

In [22]:
print("Rango de fechas: {} - {}".format(pd_calendar['date'].min(),pd_calendar['date'].max()))

Rango de fechas: 2011-01-29 - 2016-04-24

In [23]:
pd_calendar.head()

         date    weekday  weekday_int    d event
0  2011-01-29   Saturday            1  d_1   NaN
1  2011-01-30     Sunday            2  d_2   NaN
2  2011-01-31     Monday            3  d_3   NaN
3  2011-02-01    Tuesday            4  d_4   NaN
4  2011-02-02  Wednesday            5  d_5   NaN

In [24]:
## Asignacion de numero de semana por fecha
pd_calendar['date'] = pd.to_datetime(pd_calendar['date'], format = "%Y-%m-%d")

pd_calendar['yearweek'] = pd_calendar['date'].apply(lambda x: myweekyearnum(x))
pd_calendar['yearweek_iso'] = pd_calendar['date'].apply(lambda x: weeknum(x))

In [25]:
pd_calendar["yearweek"].unique()

array(['201105', '201106', '201107', '201108', '201109', '201110',
       '201111', '201112', '201113', '201114', '201115', '201116',
       '201117', '201118', '201119', '201120', '201121', '201122',
       '201123', '201124', '201125', '201126', '201127', '201128',
       '201129', '201130', '201131', '201132', '201133', '201134',
       '201135', '201136', '201137', '201138', '201139', '201140',
       '201141', '201142', '201143', '201144', '201145', '201146',
       '201147', '201148', '201149', '201150', '201151', '201152',
       '201200', '201201', '201202', '201203', '201204', '201205',
       '201206', '201207', '201208', '201209', '201210', '201211',
       '201212', '201213', '201214', '201215', '201216', '201217',
       '201218', '201219', '201220', '201221', '201222', '201223',
       '201224', '201225', '201226', '201227', '201228', '201229',
       '201230', '201231', '201232', '201233', '201234', '201235',
       '201236', '201237', '201238', '201239', '201240', '201241',
       '201242', '201243', '201244', '201245', '201246', '201247',
       '201248', '201249', '201250', '201251', '201252', '201253',
       '201300', '201301', '201302', '201303', '201304', '201305',
       '201306', '201307', '201308', '201309', '201310', '201311',
       '201312', '201313', '201314', '201315', '201316', '201317',
       '201318', '201319', '201320', '201321', '201322', '201323',
       '201324', '201325', '201326', '201327', '201328', '201329',
       '201330', '201331', '201332', '201333', '201334', '201335',
       '201336', '201337', '201338', '201339', '201340', '201341',
       '201342', '201343', '201344', '201345', '201346', '201347',
       '201348', '201349', '201350', '201351', '201352', '201400',
       '201401', '201402', '201403', '201404', '201405', '201406',
       '201407', '201408', '201409', '201410', '201411', '201412',
       '201413', '201414', '201415', '201416', '201417', '201418',
       '201419', '201420', '201421', '201422', '201423', '201424',
       '201425', '201426', '201427', '201428', '201429', '201430',
       '201431', '201432', '201433', '201434', '201435', '201436',
       '201437', '201438', '201439', '201440', '201441', '201442',
       '201443', '201444', '201445', '201446', '201447', '201448',
       '201449', '201450', '201451', '201452', '201500', '201501',
       '201502', '201503', '201504', '201505', '201506', '201507',
       '201508', '201509', '201510', '201511', '201512', '201513',
       '201514', '201515', '201516', '201517', '201518', '201519',
       '201520', '201521', '201522', '201523', '201524', '201525',
       '201526', '201527', '201528', '201529', '201530', '201531',
       '201532', '201533', '201534', '201535', '201536', '201537',
       '201538', '201539', '201540', '201541', '201542', '201543',
       '201544', '201545', '201546', '201547', '201548', '201549',
       '201550', '201551', '201552', '201600', '201601', '201602',
       '201603', '201604', '201605', '201606', '201607', '201608',
       '201609', '201610', '201611', '201612', '201613', '201614',
       '201615', '201616', '201617'], dtype=object)

In [26]:
contar_nulos(pd_calendar)

Análisis del DataFrame 1:
       Cantidad Registros  Cantidad Nulos    % Nulos
event                1913            1887  98.640878

Cantidad de eventos en calendario

In [27]:
pd_calendar.event.value_counts()

event
SuperBowl         6
Ramadan starts    5
Thanksgiving      5
NewYear           5
Easter            5
Name: count, dtype: int64

Agregar mas eventos al calendario, para obtener mas informacion

In [28]:
gdown.download(events_data_path, events_file, quiet=False)
pd_events = pd.read_csv(events_file)

Downloading...
From: https://drive.google.com/uc?id=1Mxazi67FtJcnjc0LUT8G2Ll5fu8mnLwk
To: C:\Users\otalv\Documents\capstone-project-0325bcn-grupo3\02_notebooks\calendar_events.csv
100%|█████████████████████████████████████████████████████████████████████████████| 2.31k/2.31k [00:00<00:00, 6.65MB/s]

In [29]:
pd_events

          date                    event
0   2011-02-06           Super Bowl XLV
1   2011-02-14          Valentine's Day
2   2011-03-17        St. Patrick's Day
3   2011-04-24            Easter Sunday
4   2011-05-08             Mother's Day
..         ...                      ...
85  2016-11-26  Small Business Saturday
86  2016-11-28             Cyber Monday
87  2016-12-12             Green Monday
88  2016-12-24           Super Saturday
89  2016-12-25            Christmas Day

[90 rows x 2 columns]

In [30]:
pd_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    90 non-null     object
 1   event   90 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [31]:
pd_events['date'] = pd.to_datetime(pd_events['date'], format = "%Y-%m-%d")

In [32]:
pd_calendar = pd.merge(
    pd_calendar,
    pd_events[['date', 'event']],
    on='date',
    how='left',
    suffixes=('', '2')
)

In [33]:
pd_calendar[pd_calendar['event2'].notnull()]

,date,weekday,weekday_int,d,event,yearweek,yearweek_iso,event2
8,2011-02-06,Sunday,2,d_9,SuperBowl,201106,201105,Super Bowl XLV
16,2011-02-14,Monday,3,d_17,NaN,201107,201107,Valentine's Day
47,2011-03-17,Thursday,6,d_48,NaN,201111,201111,St. Patrick's Day
85,2011-04-24,Sunday,2,d_86,NaN,201117,201116,Easter Sunday
99,2011-05-08,Sunday,2,d_100,NaN,201119,201118,Mother's Day
...,...,...,...,...,...,...,...,...
1791,2015-12-25,Friday,7,d_1792,NaN,201551,201552,Christmas Day
1835,2016-02-07,Sunday,2,d_1836,SuperBowl,201606,201605,Super Bowl 50
1842,2016-02-14,Sunday,2,d_1843,NaN,201607,201606,Valentine's Day
1874,2016-03-17,Thursday,6,d_1875,NaN,201611,201611,St. Patrick's Day
1884,2016-03-27,Sunday,2,d_1885,Easter,201613,201612,Easter Sunday

Si la data de calendario ya contiene algun evento, mantenemos este valor, de lo contrario, usamos el valor nuevo obtenido

In [34]:
pd_calendar['final_event'] = pd_calendar['event'].fillna(pd_calendar['event2'])

In [35]:
pd_calendar[pd_calendar['final_event'].notnull()]

,date,weekday,weekday_int,d,event,yearweek,yearweek_iso,event2,final_event
8,2011-02-06,Sunday,2,d_9,SuperBowl,201106,201105,Super Bowl XLV,SuperBowl
16,2011-02-14,Monday,3,d_17,NaN,201107,201107,Valentine's Day,Valentine's Day
47,2011-03-17,Thursday,6,d_48,NaN,201111,201111,St. Patrick's Day,St. Patrick's Day
85,2011-04-24,Sunday,2,d_86,NaN,201117,201116,Easter Sunday,Easter Sunday
99,2011-05-08,Sunday,2,d_100,NaN,201119,201118,Mother's Day,Mother's Day
...,...,...,...,...,...,...,...,...,...
1798,2016-01-01,Friday,7,d_1799,NewYear,201600,201553,NaN,NewYear
1835,2016-02-07,Sunday,2,d_1836,SuperBowl,201606,201605,Super Bowl 50,SuperBowl
1842,2016-02-14,Sunday,2,d_1843,NaN,201607,201606,Valentine's Day,Valentine's Day
1874,2016-03-17,Thursday,6,d_1875,NaN,201611,201611,St. Patrick's Day,St. Patrick's Day
1884,2016-03-27,Sunday,2,d_1885,Easter,201613,201612,Easter Sunday,Easter

In [36]:
pd_calendar.drop(columns=['event', 'event2'], inplace=True)
pd_calendar.rename(columns={'final_event': 'event'}, inplace=True)

In [37]:
pd_calendar.event.value_counts()

event
SuperBowl                  6
Valentine's Day            6
St. Patrick's Day          6
Mother's Day               5
Father's Day               5
Independence Day           5
Ramadan starts             5
Halloween                  5
Labor Day                  5
Thanksgiving               5
Black Friday               5
Super Saturday             5
Small Business Saturday    5
Cyber Monday               5
Green Monday               5
NewYear                    5
Christmas Day              5
Easter                     5
Easter Sunday              1
Name: count, dtype: int64

Vemos duplicidad en uno de los eventos luego de la combinacion, procedemos a unificar sus valores.

In [38]:
pd_calendar['event'] = pd_calendar['event'].replace('Easter Sunday', 'Easter')

In [39]:
print("Hay {} semanas en la data, y el numero de registros por semana son: ".format(pd_calendar.yearweek.nunique()))
pd_calendar.yearweek.value_counts()

Hay 279 semanas en la data, y el numero de registros por semana son:

yearweek
201616    7
201105    7
201106    7
201107    7
201108    7
         ..
201600    3
201617    2
201352    2
201200    1
201253    1
Name: count, Length: 279, dtype: int64

### 4.3. Data de precios

In [40]:
gdown.download(prices_data_path, prices_file, quiet=False)
pd_prices = pd.read_csv(prices_file)

Downloading...
From (original): https://drive.google.com/uc?id=1JHVZJ9eeqtGxPWs3vF3beEnuGVY2o8Ed
From (redirected): https://drive.google.com/uc?id=1JHVZJ9eeqtGxPWs3vF3beEnuGVY2o8Ed&confirm=t&uuid=09b7c13f-63dd-42e6-9e52-605514f7cb22
To: C:\Users\otalv\Documents\capstone-project-0325bcn-grupo3\02_notebooks\item_prices.csv
100%|███████████████████████████████████████████████████████████████████████████████| 370M/370M [00:45<00:00, 8.08MB/s]

In [41]:
print("Dimensiones del dataframe:", pd_prices.shape)

Dimensiones del dataframe: (6965706, 5)

In [42]:
pd_prices.head()

               item    category store_code  yearweek  sell_price
0  ACCESORIES_1_001  ACCESORIES      NYC_1  201328.0     12.7414
1  ACCESORIES_1_001  ACCESORIES      NYC_1  201329.0     12.7414
2  ACCESORIES_1_001  ACCESORIES      NYC_1  201330.0     10.9858
3  ACCESORIES_1_001  ACCESORIES      NYC_1  201331.0     10.9858
4  ACCESORIES_1_001  ACCESORIES      NYC_1  201332.0     10.9858

In [43]:
pd_prices.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965706 entries, 0 to 6965705
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 265.7+ MB

Validacion del numero de items de ventas y de precios

In [44]:
pd_prices['item'].nunique()

3049

La cantidad de items unicos es la misma, pero hay muchos registros por item. Indiica que hay precios diferenciales por item por tienda en el tiempo.

Distribucion de precios en el dataframe

In [45]:
pd_prices.describe()

           yearweek    sell_price
count  6.721786e+06  6.965706e+06
mean   2.013824e+05  5.518273e+00
std    1.450189e+02  4.387861e+00
min    2.011050e+05  1.200000e-02
25%    2.012480e+05  2.620100e+00
50%    2.014100e+05  4.200000e+00
75%    2.015150e+05  7.176000e+00
max    2.016170e+05  1.341500e+02

In [46]:
pd_prices.describe(include=['object'])

                       item     category store_code
count               6965706      6965706    6965706
unique                 3049            3         10
top     HOME_&_GARDEN_2_142  SUPERMARKET      BOS_2
freq                   2870      3239821     713960

In [47]:
pd_prices['yearweek'].isnull().sum()

np.int64(243920)

In [48]:
pd_prices.shape

(6965706, 5)

In [49]:
pd_prices.duplicated().sum()

np.int64(212120)

In [50]:
pd_prices = pd_prices.drop_duplicates()

In [51]:
contar_nulos(pd_prices)

Análisis del DataFrame 1:
          Cantidad Registros  Cantidad Nulos   % Nulos
yearweek             6753586           31800  0.470861

In [52]:
pd_prices.dropna(subset=['yearweek'], inplace=True)

In [53]:
pd_prices.shape

(6721786, 5)

In [54]:
pd_prices[pd_prices['item'] == "ACCESORIES_1_158"].describe()

            yearweek   sell_price
count    1233.000000  1233.000000
mean   201488.626115    29.274271
std        77.389797     1.778840
min    201327.000000    26.573400
25%    201427.000000    26.573400
50%    201509.000000    30.563400
75%    201540.000000    30.563400
max    201617.000000    30.563400

Validamos si tenemos outliers

In [55]:
# Agrupar por item y calcular min y max del precio
precio_summary = pd_prices.groupby('item')['sell_price'].agg(['min', 'max']).reset_index()

# Ordenar por precio máximo de mayor a menor
precio_summary_ordenado = precio_summary.sort_values('min', ascending=True)

print(precio_summary_ordenado)

                     item      min      max
2346    SUPERMARKET_3_122   0.0120   3.0000
2637    SUPERMARKET_3_413   0.0120   1.2000
599   HOME_&_GARDEN_1_036   0.0125   3.7250
998   HOME_&_GARDEN_1_443   0.0125   3.3000
1088  HOME_&_GARDEN_1_533   0.0125   6.2125
...                   ...      ...      ...
345      ACCESORIES_1_354  26.5734  31.8934
153      ACCESORIES_1_158  26.5734  30.5634
58       ACCESORIES_1_060  34.5800  41.2034
352      ACCESORIES_1_361  35.8834  41.2034
217      ACCESORIES_1_225  35.8834  41.2034

[3049 rows x 3 columns]

Esteblecermos umbrales inferiores y superiores para eliminar outliers de precios.

In [56]:
# 1. Calcular el promedio de sell_price por item
mean_prices = pd_prices.groupby("item")["sell_price"].mean().rename("mean_price")

# 2. Crear dataframe con umbrales superior e inferior
thresholds = (
    mean_prices
    .to_frame()
    .assign(
        upper=lambda x: x["mean_price"] * 3,
        lower=lambda x: x["mean_price"] * 0.35
    )
)

# 3. Unir con el dataframe original
pd_prices = pd_prices.merge(thresholds, on="item", how="left")

# 4. Filtrar registros que estén dentro de los umbrales
pd_prices = pd_prices[
    (pd_prices["sell_price"] <= pd_prices["upper"]) &
    (pd_prices["sell_price"] >= pd_prices["lower"])
].drop(columns=["mean_price", "upper", "lower"])

In [57]:
pd_prices[pd_prices['item'] == "ACCESORIES_2_129"].describe()

            yearweek   sell_price
count    2685.000000  2685.000000
mean   201356.252142     0.319354
std       148.514227     0.067405
min    201105.000000     0.159600
25%    201229.000000     0.305900
50%    201342.000000     0.305900
75%    201503.000000     0.305900
max    201617.000000     0.625100

### 4.4. Combinacion calendario y precios

Combinamos calendario y precios para obtener el precio por por semana-dia para cada item-store

In [58]:
pd_prices['yearweek'] = pd_prices['yearweek'].astype(int).astype(object)
pd_calendar['yearweek'] = pd_calendar['yearweek'].astype(float).astype(object)

pd_prices_day = pd.merge(pd_prices,pd_calendar[['d','yearweek', 'yearweek_iso', 'event']], how="left",
                   left_on = 'yearweek', right_on = 'yearweek')

pd_prices_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46014405 entries, 0 to 46014404
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   item          object
 1   category      object
 2   store_code    object
 3   yearweek      object
 4   sell_price    float64
 5   d             object
 6   yearweek_iso  object
 7   event         object
dtypes: float64(1), object(7)
memory usage: 2.7+ GB

In [59]:
pd_prices_day

,item,category,store_code,yearweek,sell_price,d,yearweek_iso,event
0,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_897,201328,NaN
1,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_898,201328,NaN
2,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_899,201329,NaN
3,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_900,201329,NaN
4,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_901,201329,NaN
...,...,...,...,...,...,...,...,...
46014400,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201616,1.2000,d_1909,201616,NaN
46014401,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201616,1.2000,d_1910,201616,NaN
46014402,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201616,1.2000,d_1911,201616,NaN
46014403,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201617,1.2000,d_1912,201616,NaN
46014404,SUPERMARKET_3_827,SUPERMARKET,PHI_3,201617,1.2000,d_1913,201616,NaN

In [60]:
contar_nulos(pd_prices_day)

Análisis del DataFrame 1:
       Cantidad Registros  Cantidad Nulos    % Nulos
event            46014405        43741090  95.059558

### 4.5. Anular dinamizacion de columnas de Data ventas

In [61]:
# Seleccionar solo las columnas que empiezan con 'd_'
d_columns = [col for col in pd_sales.columns if col.startswith('d_')]

# Sumar todos los valores de esas columnas
total_sales = pd_sales[d_columns].sum().sum()
print("Ventas totales antes de unpivot: ", total_sales)

Ventas totales antes de unpivot:  65695409

In [62]:
lista_dias=[]
lista_descripcion=[]
for i in pd_sales:
    if i.startswith('d_'):
      lista_dias.append(i)
    else:
      lista_descripcion.append(i)

pd_sales = pd.melt(pd_sales, id_vars=lista_descripcion, value_vars=lista_dias, var_name='d', value_name='n_sales')

In [63]:
sales_unpivot = pd_sales['n_sales'].sum()
print("Unidades totales vendidas antes de unpivot: ", total_sales)
print("Unidades totales vendidas después de unpivot: ", sales_unpivot)

Unidades totales vendidas antes de unpivot:  65695409
Unidades totales vendidas después de unpivot:  65695409

In [64]:
pd_sales.head(5)

,id,item,category,department,store,store_code,region,d,n_sales
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0

In [65]:
pd_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   id          object
 1   item        object
 2   category    object
 3   department  object
 4   store       object
 5   store_code  object
 6   region      object
 7   d           object
 8   n_sales     int64
dtypes: int64(1), object(8)
memory usage: 3.9+ GB

Agregamos el numero de semana combinando data ventas con calendario

In [66]:
pd_calendar.head(3)

        date   weekday  weekday_int    d  yearweek yearweek_iso event
0 2011-01-29  Saturday            1  d_1  201105.0       201104   NaN
1 2011-01-30    Sunday            2  d_2  201105.0       201104   NaN
2 2011-01-31    Monday            3  d_3  201105.0       201105   NaN

In [67]:
pd_prices_day.head(3)

,item,category,store_code,yearweek,sell_price,d,yearweek_iso,event
0,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_897,201328,NaN
1,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_898,201328,NaN
2,ACCESORIES_1_001,ACCESORIES,NYC_1,201328,12.7414,d_899,201329,NaN

In [68]:
pd_sales = pd_sales.merge(
    pd_calendar[["d", "date", "yearweek", "yearweek_iso", "event"]],
    on=["d"],
    how="left"
)

In [69]:
pd_sales.head()

,id,item,category,department,store,store_code,region,d,n_sales,date,yearweek,yearweek_iso,event
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN

Agregamos el precio de venta combinando data ventas con pd_prices_day

In [70]:
pd_sales= pd_sales.merge(
    pd_prices_day[["item", "store_code", "d", "sell_price"]],
    on=["item", "store_code", "d"],
    how="left"
)

Validamos que no se haya aumentado la venta despues de las combinaciones de datos.

In [71]:
sales_final = pd_sales['n_sales'].sum()
print("Unidades totales vendidas antes de unpivot: ", total_sales)
print("Unidades totales vendidas después de unpivot: ", sales_unpivot)
print("Unidades totales vendidas despues de merge: ", sales_final)

Unidades totales vendidas antes de unpivot:  65695409
Unidades totales vendidas después de unpivot:  65695409
Unidades totales vendidas despues de merge:  65695409

In [72]:
pd_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item          object
 2   category      object
 3   department    object
 4   store         object
 5   store_code    object
 6   region        object
 7   d             object
 8   n_sales       int64
 9   date          datetime64[ns]
 10  yearweek      object
 11  yearweek_iso  object
 12  event         object
 13  sell_price    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 6.1+ GB

In [73]:
pd_sales.head(3)

,id,item,category,department,store,store_code,region,d,n_sales,date,yearweek,yearweek_iso,event,sell_price
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN,NaN
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN,NaN
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,NaN,NaN

## 5. Tratamiendo de nulos

In [74]:
contar_nulos(pd_sales)

Análisis del DataFrame 1:
            Cantidad Registros  Cantidad Nulos    % Nulos
event                 58327370        55461310  95.086252
sell_price            58327370        12312965  21.110098

### 5.1. Variable 'event'

Los valores nulos en 'event' corresponden a los dias en los cuales no hay eventos marcados en calendario. Procedemos a imputar un nuevo valor de categoria.

In [75]:
pd_sales['event'] = pd_sales['event'].fillna('Without event')

### 5.2. Variable 'sell_price'

Validamos los nulos obtenidos en la columna **sell_price** para saber si existen ventas en estos dias que no tienen precio.

In [76]:
total_n_sales_nan = pd_sales[pd_sales["sell_price"].isna()]["n_sales"].sum()
print(total_n_sales_nan)

14331

No hay venta, lo cual es coherente ya que los precios semanales son un promedio del valor de ventas. Dado que en este contexto DSMarket puede establecer sus precios de venta futuros, procedemos a imputar los nulos para cada producto por tienda, interpolando los precios pasados y futuros, dejando el precio futuro encontrado o el precio pasado, lo primero que ocurra.

In [77]:
pd_sales["sell_price"] = (
    pd_sales.sort_values("yearweek")
    .groupby(["id"])["sell_price"]
    .transform(lambda s: s.interpolate(method="linear").bfill().ffill())
)

In [78]:
contar_nulos(pd_sales)

Análisis del DataFrame 1:
Empty DataFrame
Columns: [Cantidad Registros, Cantidad Nulos, % Nulos]
Index: []

Agregamos una columna calculada para el ingreso (cantidad vendida por precio de venta)

In [79]:
pd_sales["revenue"] = pd_sales["n_sales"]*pd_sales["sell_price"]

In [80]:
pd_sales.head(3)

,id,item,category,department,store,store_code,region,d,n_sales,date,yearweek,yearweek_iso,event,sell_price,revenue
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,Without event,12.7414,0.0
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,Without event,5.2801,0.0
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,d_1,0,2011-01-29,201105.0,201104,Without event,3.9501,0.0

In [81]:
pd_sales.shape

(58327370, 15)

In [83]:
# Eliminar la columna 'yearweek'
pd_sales = pd_sales.drop('yearweek', axis=1)

# Renombrar 'yearweek_iso' a 'yearweek'
pd_sales = pd_sales.rename(columns={'yearweek_iso': 'yearweek'})

## 6. Generar data para visualizacion

### 6.1. Agrupar ventas por semana, item y tienda

In [84]:
df_sales_week = (
    pd_sales
    .groupby(['id', 'item', 'category', 'department', 'store', 'store_code', 'region', 'yearweek'])
    .agg(
        n_sales=('n_sales', 'sum'),
        revenue=('revenue', 'sum')
    )
    .reset_index()
)

# Ahora calculamos el promedio ponderado dividiendo
df_sales_week['avg_sell_price'] = df_sales_week['revenue'] / df_sales_week['n_sales']

In [85]:
df_sales_week

,id,item,category,department,store,store_code,region,yearweek,n_sales,revenue,avg_sell_price
0,ACCESORIES_1_001_BOS_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,201104,0,0.0,NaN
1,ACCESORIES_1_001_BOS_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,201105,0,0.0,NaN
2,ACCESORIES_1_001_BOS_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,201106,0,0.0,NaN
3,ACCESORIES_1_001_BOS_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,201107,0,0.0,NaN
4,ACCESORIES_1_001_BOS_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,South_End,BOS_1,Boston,201108,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8354255,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,201612,17,20.4,1.2
8354256,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,201613,22,26.4,1.2
8354257,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,201614,8,9.6,1.2
8354258,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,201615,0,0.0,NaN
8354259,SUPERMARKET_3_827_PHI_3,SUPERMARKET_3_827,SUPERMARKET,SUPERMARKET_3,Queen_Village,PHI_3,Philadelphia,201616,0,0.0,NaN

In [86]:
sales_week = df_sales_week['n_sales'].sum()
print("Unidades totales vendidas agrupadas: ", sales_week)

Unidades totales vendidas agrupadas:  65695409

In [87]:
# Guardar en variables cantidad unicas de semanas y de id unicos
num_weeks = df_sales_week["yearweek"].nunique()
num_ids   = df_sales_week["id"].nunique()

# Mostrar resultados
print(f"Hay {num_weeks} semanas en la data final")
print(f"Hay {num_ids} id's únicos en la data final")

# Multiplicación esperada (tamano esperado del dataframe agrupado)
expected_rows = num_weeks * num_ids
print(f"Máximo esperado de filas: {expected_rows}")

# Comparar con el shape actual
actual_rows = df_sales_week.shape[0]
print(f"Filas reales: {actual_rows}")
print(f"Diferencia: {actual_rows - expected_rows}")

Hay 274 semanas en la data final
Hay 30490 id's únicos en la data final
Máximo esperado de filas: 8354260
Filas reales: 8354260
Diferencia: 0

### 6.2. Agregar eventos a semanas agrupadas

In [88]:
df_events = (
    pd_calendar
    .dropna(subset=["event"])                     # solo semanas con evento
    .sort_values(["yearweek_iso", "date"])           # por si hay varios en la semana
    .groupby("yearweek_iso", as_index=False)
    .agg(event=("event", "first"))
)
df_events['yearweek_iso'] = df_events['yearweek_iso'].astype(int).astype(str)
df_events = df_events.rename(columns={'yearweek_iso': 'yearweek'})
df_events.head(3)

  yearweek              event
0   201105          SuperBowl
1   201107    Valentine's Day
2   201111  St. Patrick's Day

In [89]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   yearweek  81 non-null     object
 1   event     81 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [90]:
df_sales_week = df_sales_week.merge(df_events, on="yearweek", how="left")

# Rellenar semanas sin evento
df_sales_week["event"] = df_sales_week["event"].fillna("Without event")

In [91]:
df_sales_week.shape

(8354260, 12)

### 6.3. Exportar data a CSV

Guardamos la data como un archivo csv para llevar a Power BI.

In [92]:
df_sales_week.to_csv('ventas.csv')

## 7. Creacion fichero para clustering y forecasting

In [93]:
df_sales_week.to_parquet('df_sales_week.parquet', engine='pyarrow', index=False, compression='snappy')